In [ ]:
## \#17: Resampling pada data deret waktu (time series data)

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [4]:
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='h')

df.head()

                     col1  col2
2023-01-01 00:00:00    18     3
2023-01-01 01:00:00     4     6
2023-01-01 02:00:00    15     9
2023-01-01 03:00:00     9    11
2023-01-01 04:00:00    10    17

In [ ]:
### Resampling data dengan interval monthly

In [6]:
df.resample('M')['col1'].sum().to_frame()

C:\Users\valer\AppData\Local\Temp\ipykernel_21976\985753190.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df.resample('M')['col1'].sum().to_frame()

            col1
2023-01-31  7175
2023-02-28  6661
2023-03-31  7579
2023-04-30  7367
2023-05-31  7558
2023-06-30  7321
2023-07-31  7229
2023-08-31  7456
2023-09-30  7093
2023-10-31  7799
2023-11-30  7205
2023-12-31  7465

In [ ]:
### Resampling data dengan interval daily

In [8]:
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   259
2023-01-02   251
2023-01-03   223
2023-01-04   256
2023-01-05   268
...          ...
2023-12-27   234
2023-12-28   226
2023-12-29   235
2023-12-30   232
2023-12-31   251

[365 rows x 1 columns]