In [ ]:
## \#34: Mapping pada Data Frame dengan `applymap()`

In [2]:
import pandas as pd

print(pd.__version__)

2.2.2

In [4]:
df = pd.DataFrame({'jenis_kelamin':['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'], 
                   'usia':[23, 21, 24, 22, 21], 
                   'shift':['pagi', 'siang', 'Malam', 'Siang', 'pagi']})
df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     perempuan    21   pagi

In [ ]:
### Mapping pada Data Frame dengan `applymap()`

In [6]:
df = df.applymap(lambda x: x.lower() if type(x) == str else x)
df

C:\Users\valer\AppData\Local\Temp\ipykernel_5292\1270923860.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower() if type(x) == str else x)

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

In [ ]:
### `applymap()` dengan dictionary

In [8]:
mapping = {'pria':'L',
           'lelaki':'L',
           'wanita':'P',
           'perempuan':'P',
           'pagi':1,
           'siang':2,
           'malam':3}

df.applymap(mapping.get)

C:\Users\valer\AppData\Local\Temp\ipykernel_5292\2574704711.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(mapping.get)

  jenis_kelamin  usia  shift
0             L  None      1
1             P  None      2
2             L  None      3
3             L  None      2
4             P  None      1

In [10]:
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].applymap(mapping.get)

df

C:\Users\valer\AppData\Local\Temp\ipykernel_5292\614762926.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].applymap(mapping.get)

  jenis_kelamin  usia  shift
0             L    23      1
1             P    21      2
2             L    24      3
3             L    22      2
4             P    21      1