In [ ]:
#53: Membuat kategori baru berdasarkan threshold (ambang batas)

In [9]:
import pandas as pd

print(pd.__version__)

2.2.2

In [11]:
data = {'nama': ['bayu', 'indra', 'devi', 'agni'],
        'jenis_kelamin': ['L', 'L', 'P', 'L'], 
        'usia': [23, 21, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [ ]:
#menyimpan data frame sebagai file csv

In [13]:
df.to_csv('data_peserta.csv')

In [24]:
df = pd.read_csv('data_peserta.csv', index_col=0)

df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

In [ ]:
df.to_csv('data_peserta.csv', index=False)
df = pd.read.csv('data_peserta.csv')
df