In [ ]:
## \#04: Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [ ]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df['bil_pecahan'] = df['bil_pecahan'].astype('float')

df.index = pd.date_range(start='2024-10-01', periods=n_rows, freq='h')

df = df.reset_index()
df['teks'] = list('ABCDE')

df

In [ ]:
df.dtypes

In [ ]:
### Memilih kolom bertipe data numerik

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='float')

In [ ]:
df.select_dtypes(include='int')

In [ ]:
### Memilih kolom bertipe data string atau `object`

In [ ]:
df.select_dtypes(include='object')

In [ ]:
### Memilih kolom bertipe data `datetime`

In [ ]:
df.select_dtypes(include='datetime')

In [ ]:
### Memilih kolom dengan kombinasi tipe data

In [ ]:
df.select_dtypes(include=['number', 'object'])