In [ ]:
## \#18: Membentuk dummy Data Frame

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [ ]:
### Membentuk Data Frame dari Dictionary

In [4]:
pd.DataFrame({'col1':[1, 2, 3, 4], 
              'col2':[5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [ ]:
### Membentuk Data Frame dari Numpy Array

In [8]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows, n_cols))
arr

array([[19,  1,  1],
       [ 3,  3, 10],
       [ 4, 17, 19],
       [ 3,  7,  7],
       [14, 18, 10]])

In [10]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  19   1   1
1   3   3  10
2   4  17  19
3   3   7   7
4  14  18  10

In [ ]:
### Membentuk Data Frame dengan memanfaatkan  `pandas.util.testing

In [12]:
n_rows = 30 
n_cols = 4 
columns = list('ABCD')

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=columns)

print(df.head())

          A         B         C         D
0 -1.448241  0.191840  2.132473 -2.598152
1  0.511443 -0.658202  0.993680  0.103150
2 -0.065154  0.098216 -0.223382  0.031966
3 -0.874440 -0.354770  0.400323  0.543010
4 -0.416443  1.064955  0.464993 -0.283734

In [14]:
n_rows = 5 

data = {
    'A': np.random.randn(n_rows),                 
    'B': np.arange(1, n_rows + 1),                
    'C': pd.date_range('2024-01-01', periods=n_rows), 
    'D': ['foo', 'bar', 'baz', 'qux', 'quux']    
}

df = pd.DataFrame(data)

print(df.head())

          A  B          C     D
0  1.616832  1 2024-01-01   foo
1 -1.264494  2 2024-01-02   bar
2  2.663812  3 2024-01-03   baz
3  0.997027  4 2024-01-04   qux
4  0.679762  5 2024-01-05  quux

In [16]:
n_rows = 30  
n_cols = 4   
columns = list('ABCD')  

time_index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')  

df = pd.DataFrame(np.random.randn(n_rows, n_cols), index=time_index, columns=columns)

print(df.head())

                   A         B         C         D
2024-01-01 -0.080328 -0.545373 -0.138401 -0.667118
2024-01-02  1.426366  1.085468  0.585421 -0.802749
2024-01-03 -0.788337  0.678781 -0.836035 -0.733709
2024-01-04 -1.558993  1.098355  0.713241  1.363953
2024-01-05  0.942994  1.194410  1.268143  0.554491

In [18]:
n_rows = 5
n_cols = 4

data = np.random.randn(n_rows, n_cols)

df = pd.DataFrame(data, columns=list('ABCD'))

df.iloc[0, 1] = np.nan
df.iloc[2, 3] = np.nan
df.iloc[4, 0] = np.nan

print(df.head())

          A         B         C         D
0 -0.301276       NaN -0.386396  0.628475
1 -0.036881  0.324278  0.221327  0.477960
2 -0.491435 -0.890864 -0.709947       NaN
3 -0.460228  1.324191  0.351104 -0.234679
4       NaN -1.200606  0.764464 -1.236338