In [ ]:
## \#02: Pemilihan baris (rows selection) pada Data Frame

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [ ]:
### Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  1  2  2  3  1
1  3  2  1  4  3
2  1  3  3  2  2
3  2  4  1  4  3
4  4  1  3  4  1
5  1  2  3  1  3
6  4  1  1  2  1
7  4  1  3  1  1
8  4  2  4  4  4
9  2  1  4  3  2

In [5]:
### Selection dengan operator logika

In [7]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  1  2  2  3  1
1  3  2  1  4  3
2  1  3  3  2  2
5  1  2  3  1  3

In [ ]:
### Selection dengan fungsi `isin()`

In [ ]:
df[df['A'].isin([1, 3])]

In [ ]:
### Mengenal operator negasi

In [ ]:
df[~df['A'].isin([1, 3])]