In [ ]:
## \#15: Memecah nilai string dari suatu kolom ke dalam beberapa kolom baru

In [2]:
import pandas as pd

print(pd.__version__)

2.2.2

In [8]:
data = {'nama':['Didi Kempot', 'Glenn Fredly', 'Mbah Sambo'], 
        'tempat_kelahiran':['Surakarta, Jawa Tengah', 'Jakarta, DKI Jakarta', 'Jambi, Jawa Timur']}
df = pd.DataFrame(data)
df

           nama        tempat_kelahiran
0   Didi Kempot  Surakarta, Jawa Tengah
1  Glenn Fredly    Jakarta, DKI Jakarta
2    Mbah Sambo       Jambi, Jawa Timur

In [ ]:
### Memecah nama depan dan nama belakang

In [10]:
df[['nama_depan', 'nama_belakang']] = df['nama'].str.split(' ', expand=True)
df

           nama        tempat_kelahiran nama_depan nama_belakang
0   Didi Kempot  Surakarta, Jawa Tengah       Didi        Kempot
1  Glenn Fredly    Jakarta, DKI Jakarta      Glenn        Fredly
2    Mbah Sambo       Jambi, Jawa Timur       Mbah         Sambo

In [ ]:
### Memecah nama kota dan provinsi

In [12]:
df[['kota', 'propinsi']] = df['tempat_kelahiran'].str.split(',', expand=True)
df

,nama,tempat_kelahiran,nama_depan,nama_belakang,kota,propinsi
0,Didi Kempot,"Surakarta, Jawa Tengah",Didi,Kempot,Surakarta,Jawa Tengah
1,Glenn Fredly,"Jakarta, DKI Jakarta",Glenn,Fredly,Jakarta,DKI Jakarta
2,Mbah Sambo,"Jambi, Jawa Timur",Mbah,Sambo,Jambi,Jawa Timur