In [ ]:
## \#27: Mengenal fungsi agregasi `first()` dan `last()`

In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

In [5]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'], 
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Windah', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi  Windah
5   Wati    Lisa

In [ ]:
### Mengenal fungsi agregasi `first()` dan `last()`

In [7]:
df.groupby('dokter')['pasien'].count().to_frame()

        pasien
dokter
Budi         3
Iwan         1
Wati         2

In [9]:
df.groupby('dokter')['pasien'].first().to_frame()

        pasien
dokter
Budi     Abdul
Iwan      Asep
Wati    Rahmat

In [11]:
df.groupby('dokter')['pasien'].last().to_frame()

        pasien
dokter
Budi    Windah
Iwan      Asep
Wati      Lisa