In [4]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [6]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                  columns=cols)
df

   A  B  C  D  E
0  9  9  8  8  3
1  4  3  4  1  8
2  2  5  1  5  7
3  2  1  1  1  3
4  9  5  3  7  4
5  5  1  7  9  6
6  1  1  3  6  3
7  5  5  1  8  4
8  1  8  3  4  5
9  4  7  3  8  7

In [ ]:
#menghitung jumlah baris menurut kriteria tertentu

In [8]:
(df['A'] < 5).sum()

6

In [10]:
(df['A'] < 5).mean()

0.6