In [ ]:
## \#46: Seleksi weekdays dan weekends pada data deret waktu (time series)

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

print(df)

            col1  col2
2024-01-01    12     5
2024-01-02     5    17
2024-01-03     7    10
2024-01-04    14     4
2024-01-05    19    15
...          ...   ...
2024-12-26    11     2
2024-12-27     3     4
2024-12-28    11     1
2024-12-29    11    13
2024-12-30    19    11

[365 rows x 2 columns]

In [5]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2024-01-01    12     5
2024-01-02     5    17
2024-01-03     7    10
2024-01-04    14     4
2024-01-05    19    15
2024-01-08     1    10
2024-01-09    16    13

In [7]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2024-01-06     9    15
2024-01-07     1    10
2024-01-13    17     2
2024-01-14    19     6
2024-01-20     8     4
2024-01-21     4    17
2024-01-27    13     5